textarea {
    min-height: 400px;
}


.emailClassGrey{
    border-style: groove;
    display:flex;
    flex-direction: row;
    background-color: gray;

    
}

.emailClassGrey > div {
    padding: 10px;
    padding-right: 140px;
}


.emailClassWhite{
    border-style: groove;
    display:flex;
    flex-direction: row;
    background-color: whitesmoke;

    
}

.emailClassWhite > div {
    padding: 10px;
    padding-right: 140px;
}


.email_body{
    border-top: 4px solid blue;
    padding: 10px;
}


.email_body > p{
    
    padding-top: 100px;
}

button {
    margin: 10px;
}